*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background: #4b4737;
}

/* Header */
.navbar {
    border-radius: 0;
}
#header-navbar {
    background: #d3cdba;
}
#header-navbar .navbar-brand {
    color: #240201;
    font-size: 1.5em;
}
/* End of Header */