body {
    font-size: 16px;
    color: #fff;
    background-color: #61122f;
    font-family: 'Oxygen', sans-serif;
}

/* Header */
#header-nav {
    background-color: #f6b319;
    border-radius: 0;
    border: 0;
}

#logo-img {
    background: url("../images/restaurant-logo_large.png") no-repeat;
    width: 150px;
    height: 150px;
    margin: 10px 15px 10px 0;
}

.navbar-brand {
    padding-top: 25px;
}

/* Restaurant name */
.navbar-brand h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Lora', serif;
    font-size: 1.5em;
    font-weight: bold;
    line-height: .75;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #222;
    color: #557c3e;
}

.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}

/* Kosher certification */
.navbar-brand p {
    margin-top: 15px;
    font-size: .7em;
    text-transform: uppercase;
    color: #000;
}

/* Star-K */
.navbar-brand p span {
    vertical-align: middle;
}

#nav-list {
    margin-top: 10px;
}

#nav-list a {
    color: #951C49;
    text-align: center;
}

#nav-list a:hover {
    background: #e7e7e7;
}

#nav-list a span {
    font-size: 1.8em;
}

#phone {
    margin-top: 5px;
}

/* Phone number */
#phone a {
    padding-bottom: 0;
    text-align: right;
}

/* We Deliver */
#phone div {
    padding-right: 15px;
    text-align: right;
    color: #557c3e;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #61122f;
}

.navbar-header button.navbar-toggle {
    clear: both;
}